apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "aurora-gov.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "aurora-gov.labels" . | nindent 4 }}
    {{- with .Values.deploymentLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.app.replicaCount }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "aurora-gov.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "aurora-gov.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "aurora-gov.serviceAccountName" . }}
      {{- with .Values.app.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.app.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "aurora-gov.image" . }}
          imagePullPolicy: {{ .Values.app.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.app.phoenix.port }}
              protocol: TCP
          env:
            - name: PHX_SERVER
              value: {{ .Values.app.phoenix.server | quote }}
            - name: PORT
              value: {{ .Values.app.phoenix.port | quote }}
            - name: PHX_HOST
              value: {{ .Values.app.phoenix.host | quote }}
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: {{ include "aurora-gov.secretName" . }}
                  key: secret-key-base
            {{- if .Values.postgresql.enabled }}
            - name: PROJECTOR_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "aurora-gov.secretName" . }}
                  key: projector-database-url
            - name: EVENTSTORE_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "aurora-gov.secretName" . }}
                  key: eventstore-database-url
            {{- end }}
            {{- with .Values.extraEnvVars }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- if .Values.extraEnvVarsConfigMap }}
          envFrom:
            - configMapRef:
                name: {{ .Values.extraEnvVarsConfigMap }}
          {{- end }}
          {{- if .Values.extraEnvVarsSecret }}
          envFrom:
            - secretRef:
                name: {{ .Values.extraEnvVarsSecret }}
          {{- end }}
          {{- if .Values.app.livenessProbe.enabled }}
          livenessProbe:
            {{- omit .Values.app.livenessProbe "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.app.readinessProbe.enabled }}
          readinessProbe:
            {{- omit .Values.app.readinessProbe "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- with .Values.app.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.extraVolumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- with .Values.sidecars }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.extraVolumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.app.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}