<main class="w-full flex flex-col min-h-screen">
  <div class="w-full flex-1 flex flex-row items-start bg-gray-50">
    {@inner_content}
  </div>
  <footer class="w-full bg-gray-100 py-1.5">
    <small class="bg-brand/5 text-xs ml-3 rounded-full px-2 font-medium leading-6">
      AuroraGov v{Application.spec(:aurora_gov, :vsn)} Plataforma en desarrollo, podría contener errores. Under development, may have some errors.
    </small>
  </footer>
</main>
