<div class="bg-aurora_orange py-5 z-50 px-10 text-white fixed bottom-0 w-full flex flex-row justify-center items-center gap-3">
  <i class="fa-solid fa-triangle-exclamation text-xl"></i>
  Esta es una versión en desarrollo. Podría contener errores y funcionalidades no terminadas.
</div>
<main class="app-container">
  {@inner_content}
</main>
