<div class="bg-aurora_orange py-5 px-10 text-white">
  Esta es una versión en desarrollo. Podría contener errores y funcionalidades no terminadas.
</div>
<main class="app-container">
  {@inner_content}
</main>
